*{
    margin: 0;
    padding: 0;
} 
 
 
 body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: #333;
}
input {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(217, 42, 168);
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: rgb(217, 42, 168);
}
p {
    margin: 10px;
    color: #333;
}

