* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(217, 42, 168);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(217, 42, 168);
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
